{{!
    @template local_xpstore/widget_history

    Example context (json):
    {
        "url": "https://moodle.org",
        "actionurl": "https://moodle.org",
        "cpstore": "#0056D2",
        "cbstore": "#00C9A7",
        "cistore": "#ff9800",
        "ccstore": "#ffffff",
        "cpactual": "#0056D2",
        "cbactual": "#00C9A7",
        "ciactual": "#ff9800",
        "ccactual": "#ffffff",
        "showbackbutton": true,
        "isteacher": false,
        "saldo": 100,
        "str_configtitle": "Configuration",
        "storecategories": [],
        "str_choosetype": "Choose type",
        "str_chooseactivity": "Choose activity",
        "str_widget_panel_title": "Widgets",
        "str_widget_panel_desc": "Desc",
        "str_colorconfig": "Color",
        "str_primarycolor": "Primary",
        "str_secondarycolor": "Secondary",
        "str_iconcolor": "Icon",
        "str_color_cat_icon": "Cat",
        "str_resetcolors": "Reset",
        "str_savecolors": "Save",
        "str_confirmresetcolors": "Confirm",
        "type_options": [{"value": "1", "label": "dummy"}],
        "activity_options": [{"id": 1, "name": "dummy"}],
        "category_icon_options": [{"catname": "d", "cathash": "h", "currenticon": "star", "icons": [{"value": "star", "label": "Star"}]}],
        "category_iframe_options": [{"iframecat": "a", "currenticon": "star", "catname": "Cat"}]
    }
}}
<div class="local_xpstore-container local_xpstore-embedded-container history-widget" style="--cp: {{cpstore}}; --cb: {{cbstore}}; --gradient: linear-gradient(135deg, var(--cp) 0%, var(--cb) 100%);">
    <a href="{{historyurl}}" target="_top" class="btn-history-widget">
        <i class="fa fa-history"></i>
        {{str_history}}
    </a>
</div>
